<div class="container">
  <div class="row my-3">
    <div class="my-auto py-auto">
      <span class="rounded bg-light py-2 px-3 font-weight-bold">商品詳細</span>
    </div>
  </div>

  <div class="row">
    <thead>
      <div class="row">
      <th>
        <%= image_tag @item.image, size: '300x250' %>
      </th>
      </div>
    </thead>
    <tbody>
      <div class="row m-auto p-auto w-50">
        <table class="table">
          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= @item.text %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td>税抜価格(税込価格)</td>
            <td><%= @item.non_taxed_price %>(<%= @item.with_tax_price %>)円</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
              <% if @item.is_active == true %>
                <p class="font-weight-bold text-success">販売中</p>
              <% else %>
                <p class="font-weight-bold text-black-50">販売停止中</p>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </tbody>
  </div>

  <div class="text-center">
    <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
  </div>
</div>
