<div class="container">
  <h2>管理者ログイン</h2>

  <%= form_with model: XXX, url: XXX do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <%= f.submit "ログイン", class: "btn btn-primary" %>
  <% end %>
</div>