<div class="container mb-3">
  
    <% flash.each do |key, value| %>
    <div class="mt-4"></div>
      <span class="alert alert-danger alert-dismissible" role="alert">
         <%= content_tag(:span, value, class: key) %>
        <button class="close", data-dismiss="alert">☓</button>
      </span>
    <% end %>
    <div class="row">
        <span class ="rounded bg-light mt-4 py-2 px-3 font-weight-bold"><%= @customer.customer_name%>さんの会員詳細</span>
    </div>
    
    <div class="row">
        <%= form_with model: [:admin, @customer] do |f| %>
          <table class="col-12 mt-3 table table-borderless bg-light border rounded">
            <tbody>
                <tr>
                    <th class="col-3">会員ID</th>
                    <td class="col-4 font-weight-bold"><%= @customer.id %></td>
                    <td class="col-5"></td>
                </tr>
                <tr>
                    <th scope="row"><%= f.label "氏名" %></th>
                    <td><%= f.text_field :last_name,class:"form-control" %></td>
                    <td><%= f.text_field :first_name,class:"form-control" %></td>
                </tr>
                <tr>
                    <th scope="row">フリガナ</th>
                    <div class="col">
                      <td><%= f.text_field :last_name_kana,class:"form-control" %></td>
                      <td><%= f.text_field :first_name_kana,class:"form-control" %></td>
                    </div>

                </tr>
                <tr>
                    <th scope="row">郵便番号</th>
                    <td><%= f.text_field :postal_code,class:"form-control" %></td>
                </tr>
                <tr>
                    <th scope="row">住所</th>
                    <td colspan="2"><%= f.text_field :address, size:50,class:"form-control" %></td>
                </tr>
                <tr>
                    <th scope="row">電話番号</th>
                    <td><%= f.text_field :phone_number,class:"form-control" %></td>
                </tr>
                <tr>
                    <th scope="row">メールアドレス</th>
                    <td><%= f.email_field :email,class:"form-control" %></td>
                </tr>
                <tr>
                    <th scope="row">会員ステータス</th>
                    <td>
                        <%= f.radio_button :is_deleted, '0', :checked => true %>
                        <%= f.label :is_deleted, "有効", value: 0 %>
                        
                        <%= f.radio_button :is_deleted, '1' %>
                        <%= f.label :is_deleted, "退会", value: 1 %>
                    </td>
                </tr>
            </tbody>
          </table>
          <div class="text-right">
            <%= f.submit "変更を保存", class:"btn btn-success mr-3" %><%= link_to "戻る", admin_customer_path(@customer.id), class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
</div>