<div class="container-fluid">
  <div class="row my-5">
    <div class="col-2 offset-2 bg-light text-black">
      <h4>ショッピングカート</h4>
    </div>
    <div class="col-6 text-right">
      <%= link_to "カートを空にする", cart_items_path(@cart_items), class: "btn btn-danger", method: :delete %>
    </div>
  </div>

  <div class="row w-75 mx-auto">
    <table class="table table-bordered">
      <thead>
        <tr class="table-secondary">
          <th scope="col" style="width: 40%">商品名</th>
          <th scope="col" style="width: 15%">単価（税込）</th>
          <th scope="col" style="width: 15%">数量</th>
          <th scope="col" style="width: 15%">小計</th>
          <th scope="col" style="width: 15%"></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= image_tag item.get_image, size: "15x25" %>
            <%= item.name %>
          </td>
          <td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
          <td>
            <%= form_with model: @cart_item do |f| %>
              <%= f.select :order_item_quantity, *[1..10], placeholder: "個数選択" %>
              <%= f.hidden_field :name, :value => :order_item_quantity %>
            <% end %>
            <%= f.submit "変更", class: "btn btn-success" %>
          </td>
          <td><%= cart_item.subtotal %></td>
          <td class="text-center">
            <%= link_to "削除する", cart_item_path(cart_item), class: "btn btn-danger", method: :delete %>
          </td>
        </tr>
        <%= @total += cart_item.subtotal %>
        <% end %>
      </tbody>
    </table>
  </div>
    
  <div class="row my-5">
    <div class="col-2 offset-2">
      <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
  </div>
</div>