<div class="col-2 offset-2 my-5 bg-light text-black text-center">
  <h2>注文情報入力</h2>
  </div>
   <% if current_customer.cart_items.present? %>

  <div class="container">
      
      <%= form_with :model => @order,url:log_orders_path,method: :post, local: true  do |f| %>
      
      <div class="form-group field">
        <h4 class="col-sm-2 text-center"><strong>支払い方法</strong></h4>
      
            <%= f.radio_button :payment_method, "credit_card", checked: true %>
            <span><%= f.label :payment_method_credit_card, "クレジットカード" , class: "col-sm-6 control-label"%></span><br>
          
          
            <%= f.radio_button :payment_method, :"transfer" %>
            <span><%= f.label :payment_method_transfer, "銀行振込", class: "col-sm-6 control-label" %></span>
          
         
       
        <h4 class="col-sm-2 text-center"><strong>お届け先</strong></h4>
          
           <%= f.radio_button :address_number, 1 %>
            <span>&nbsp;<%= f.label :address_number_1, "ご自身の住所" %></span><br>
            <div class= "col-sm-6 control-label">
             &emsp;&emsp;<%= " 〒#{current_customer.postal_code}　#{current_customer.address}" %>
            <br>
            &emsp;&emsp;<%= "#{current_customer.last_name} #{current_customer.first_name}" %><br>
             </div>
            
           <%= f.radio_button :address_number, 2 %>
              <span>&nbsp; <%= f.label :address_number_2, "登録先の住所から選択" %></span><br>
              <div class= "col-sm-10 control-label">
               &emsp;&emsp;&emsp;&emsp;<%= f.collection_select(:shipping_address_id, current_customer.shipping_addresses.all, :id,:full_address, include_blank: "選択して下さい") %><br>
              </div>
           <%= f.radio_button :address_number, 3 %>
            <span>&nbsp; <%= f.label :address_number_3, "新しいお届け先" %></span><br>
           
              <%= f.label :"郵便番号（ハイフンなし)", class: "col-sm-3 control-label"%>
              <%= f.text_field :postal_code, class: "col-sm-4 form-control-static" %><br>
            
          
              <%= f.label :"住所" , class: "col-sm-3 control-label"%>
              <%= f.text_field :address , class: "col-sm-8 form-control-static"%><br>
            
            
              <%= f.label :"宛名" , class: "col-sm-3 control-label"%>
              <%= f.text_field :address_name , class: "col-sm-4 form-control-static"%>
           

          <div class="btns col-sm-9 text-center">
            <%= link_to cart_items_path, class: "glyphicon glyphicon-shopping-cart btn btn-info cart-back" do %>
             カート(<%= current_customer.cart_items.count %>)へ戻る<% end %>
            
            <%= f.submit "確認画面へ進む",class: "glyphicon glyphicon-zoom-in btn btn-success"%>
            </div>
          </div>
          </div>
          </div>
          <% end %>
    </div>
    <% else %>
      <p>お客様のショッピングカートに商品はありませんので注文情報の入力ができません。</p>
      <p><%= link_to "商品一覧",  items_path, class: "btn btn-warning" %>から商品をお探し下さい。</p>
    <% end %>
     
    </div>
    </div>
     </div>