<% if customer_signed_in? %>
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
<% elsif admin_signed_in? %>
  <div class="search_form">
    <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, placeholder:"会員氏名/商品名で検索" %>
      <%= f.select :range, options_for_select([["会員",'Customer'], ["商品",'Item']]) %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
<% else %>
<% end %>